<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950613902586-i5rf3b4vlo1ovlf2u3hijlh5fe8jnnru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950613902586-i5rf3b4vlo1ovlf2u3hijlh5fe8jnnru</string>
	<key>API_KEY</key>
	<string>AIzaSyCf2y0nW56CTkzm9Fs8OdqDGpoVHwBSBFA</string>
	<key>GCM_SENDER_ID</key>
	<string>950613902586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.react.native.example.tedictapp.wse</string>
	<key>PROJECT_ID</key>
	<string>tedict-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tedict-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:950613902586:ios:bd4b0e258e69868d</string>
	<key>DATABASE_URL</key>
	<string>https://tedict-app.firebaseio.com</string>
</dict>
</plist>
